{% extends 'base.html.twig' %}

{% block title %}Tovar qo'shish{% endblock %}

{% form_theme post_form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="example-wrapper mt-5">
        {{ form_start(post_form, {'attr': {'id': 'custom_post_form'}}) }}
        {{ form(post_form) }}
        {{ form_end(post_form) }}
    </div>
{% endblock %}
